@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

.sheet {
  width: 100%;
  height: 10000px;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 39px, #28487d 39px, #28487d 40px),
  repeating-linear-gradient(to right, #fff, #fff 39px, #28487d 39px, #28487d 40px);
}

.imgContainer {
  display: inline-block;
  position: absolute;
  cursor: move;
  z-index: 0;
  overflow: hidden;
  width: 200px;
  height: 100px;

  &.selected {
    border: 3px solid #000;
    z-index: 2;
  }

  img { position: absolute; }
}

/* Заглушка, при клике на которую будем снимать выбор со всех */
.fullscreen-unselect-handler {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  z-index: 1;

  &.active {
    display: block;
  }
}