<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plotboard test</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <div class="sheet"><div class="fullscreen-unselect-handler"></div></div>
</body>
</html>